<mat-dialog-content class="mat-typography">
  <div class="new-page-form">
    <header class="new-page-form__header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div (click)="openPage()" class="new-page-form__link" fxLayout="row"
             fxLayoutAlign="start center">
          <mat-icon>fullscreen</mat-icon>
          Open as page
        </div>
        <div class="new-page-form__delimiter">|</div>
        <div>Add to {{data.userName}}</div>
      </div>
      <div class="new-page-form__height30" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <div>
          Share
        </div>
        <div>
          <mat-icon>message</mat-icon>
        </div>
        <div>
          <mat-icon>schedule</mat-icon>
        </div>
        <div>
          <mat-icon>star_border</mat-icon>
        </div>
        <div>
          <mat-icon>more_horiz</mat-icon>
        </div>
      </div>
    </header>
    <app-page></app-page>
  </div>
</mat-dialog-content>
