:host {
  position: relative;

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }
  }

}

.new-page-form {
  width: 960px;
  height: 80vh;
  z-index: 100;

  textarea {
    resize: none;
    padding: 10px;
  }

  .new-page-form__delimiter {
    opacity: 0.6;
  }


  .new-page-form__header {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding-bottom: 5px;
    z-index: 300;
    background-color: #ffffff;

    .new-page-form__link {
      cursor: pointer;
      padding: 2px 5px;

      &:hover {
        background-color: #EFEFEF;
        border-radius: 5px;
      }
    }

    .new-page-form__height30 {
      height: 100%;
    }
  }


  ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: #ffffff;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-appearance-fill
    .mat-form-field-underline::before {
      height: 0;
    }

  }

  //Mat стили
  ::ng-deep .mat-dialog-content {
    overflow: hidden !important;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-flex {
    border-top: 0;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }

  ::ng-deep .mat-form-field-flex {
    padding: 0 !important;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 !important;
  }


  //Mat стили

  mat-form-field {
    display: block;

    .mat-dialog-container {
      box-shadow: none;
    }
  }

  mat-dialog-container {
    width: 960px;
    height: 80vh;
  }
}

