<div class="page-form__body">
  <div class="page-form__title">
    <app-base-text-field (getKey)="newTextField($event, 0)" [placeholder]="'Untitled'">
    </app-base-text-field>
  </div>
  <div class="page-form__content">
    <ng-container>
      <app-base-text-field (getKey)="newTextField($event, i)"
                           *ngFor="let item of this.rootState?.observerViewChild; index as i"
                           class="new-page-form__item"></app-base-text-field>
    </ng-container>
  </div>
</div>
