:host {
  //Mat стили
  ::ng-deep {
    .mat-form-field {
      display: block;
    }

    .mat-dialog-content {
      max-height: 75vh;
    }

    //Mat стили


    //emoji

    //emoji
  }
}

.main {
  height: 100%;
}
