<form class="authorize__form" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    <mat-icon *ngIf="true; else doneEmail" matSuffix>alternate_email</mat-icon>
    <mat-error class>{{!!registerForm?.get('name')!.errors ? 'Поле обязательно' : ''}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-icon *ngIf="true; else doneEmail" matSuffix>alternate_email</mat-icon>
    <ng-template #doneEmail>
      <mat-icon matSuffix>done</mat-icon>
    </ng-template>
    <mat-error class>{{!!registerForm?.get('email')!.errors ? 'Email не валиден' : ''}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error>{{!!registerForm?.get('password')!.errors ? 'Пароль должен быть не менее 6 символов' : ''}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Repeat Password</mat-label>
    <input matInput formControlName="repeatPassword">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error>{{!!registerForm?.get('password')!.errors ? 'Пароль должен быть не менее 6 символов' : ''}}</mat-error>
    <mat-hint>{{!passwordCorrect ? 'Пароли должны совпадать' : ''}}</mat-hint>
  </mat-form-field>
  <button mat-stroked-button color="primary">Заерегистрироваться</button>
  <div class="authorize__registration">
    <mat-label class="label">Уже есть акаунт?</mat-label>
    <button mat-raised-button color="primary" (click)="routeLogin($event)">Авторизоваться</button>
  </div>
</form>
