<form class="authorize__form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-icon *ngIf="!!loginForm?.get('email')!.errors; else doneEmail" matSuffix>alternate_email</mat-icon>
    <ng-template #doneEmail>
      <mat-icon matSuffix>done</mat-icon>
    </ng-template>
    <mat-error class>{{!!loginForm?.get('email')!.errors ? 'Email не валиден' : ''}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password">
    <mat-icon *ngIf="!!loginForm?.get('password')!.errors; else donePassword" matSuffix>sentiment_very_satisfied
    </mat-icon>
    <ng-template #donePassword>
      <mat-icon matSuffix>done</mat-icon>
    </ng-template>
    <mat-error>{{!!loginForm?.get('password')!.errors ? 'Пароль должен быть не менее 6 символов' : ''}}</mat-error>
  </mat-form-field>
  <button mat-stroked-button color="primary">Войти</button>
  <div class="authorize__registration">
    <mat-label class="label">Еще не зарегистрированы?</mat-label>
    <button mat-raised-button color="primary" (click)="routeRegister($event)">Регистрация</button>
  </div>
</form>

